# Gradle
.gradle/
build/
*.jar
*.war
*.ear
*.class

# Maven (se for um projeto híbrido ou com alguma config maven)
target/

# Logs
*.log
logs/
temp/
tmp/

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Operating System Files
.DS_Store
Thumbs.db

src/main/resources/application.properties